<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>webname</title>
<style>
body,div,ul,li,img,a,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

</style>
</head>
<body>
{% block headertemp %}
    {% include 'headerTemp.html' %}
{% endblock %}



{% block blogpost %}
    {% include 'blogs/blogslist.html' %}
{% endblock %}
</body>
</html>